<div style="position: inherit;top: 0px;z-index: 1301;color: #f0f0f0;padding-left: 20px">


    <div style="    margin: 0px; padding-top: 0px;       height: 140px;  flex: 1 1 0%; position: sticky;">
        <div style="height: 140px;width: 100%;
            float: left;
            height: 140px;">
            <div class="row">
                <div class="col-3">

                    <img src="https://thumb.ibb.co/eVWTk0/upcl.png" alt="upcl" border="0" style="height: 93px;
                    padding: 0px;
                    margin-top: 18px;">
                    <img src="assets/img/xenius-logo.png" alt="Xenius" border="0" style="height: 31px;">
                </div>
                <div class="col-6">
                    <div class="row" style="margin-top:8%">
                        <div _ngcontent-kme-c2="" class="col-2 offset-2">
                            <p _ngcontent-kme-c2="" class="first" style="
                                    font-size: 42px;
                                "><img src ="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/dashboard.png"></p><span
                                _ngcontent-kme-c2="" class="second"
                                style="position: absolute;top: 90%;right: 0;left:8%">Dashboard</span>
                        </div>
                        <div _ngcontent-kme-c2="" class="col-2">
                                <p _ngcontent-kme-c2="" class="first" style="
                                        font-size: 42px;
                                    "><img src ="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/feeder.png"></p><span
                                    _ngcontent-kme-c2="" class="second"
                                    style="position: absolute;top: 90%;;">Feeders</span>
                            </div>
                            <div _ngcontent-kme-c2="" class="col-2">
                                    <p _ngcontent-kme-c2="" class="first" style="
                                            font-size: 42px;
                                        "><img src ="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/data.png"></p><span
                                        _ngcontent-kme-c2="" class="second"
                                        style="position: absolute;top: 90%;left:8%;">Feeder Data</span>
                                </div>
                                <div _ngcontent-kme-c2="" class="col-2">
                                        <p _ngcontent-kme-c2="" class="first" style="
                                                font-size: 42px;
                                            "><img src ="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/details.png"></p><span
                                            _ngcontent-kme-c2="" class="second"
                                            style="position: absolute;top: 90%;left :5%;">Feeder Details</span>
                                    </div>
                                    <div _ngcontent-kme-c2="" class="col-2">
                                            <p _ngcontent-kme-c2="" class="first" style="
                                                    font-size: 42px;
                                                "><img src ="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/feeder.png"></p><span
                                                _ngcontent-kme-c2="" class="second"
                                                style="position: absolute;top: 90%;left:8%;">MIS Report</span>
                                        </div> 
                                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-6  offset-6" style="float: right ;padding-right: 0px">
                            <div class="row">
                                <div class=" offset-3 col-3" style="padding-right: 0px">
                                    <button _ngcontent-mbq-c2=""
                                        style=" border: 10px; box-sizing: border-box; display: inline-block; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none;   padding: 8px; outline: none; font-size: 0px; font-weight: inherit; position: relative; overflow: visible; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; width: 48px; height: 48px; background: none;"
                                        tabindex="0" type="button">
                                        <div _ngcontent-mbq-c2=""><img _ngcontent-mbq-c2="" alt="Login" border="0"
                                                height="24" src="https://image.ibb.co/dEtccA/Login.png"></div>
                                    </button>

                                </div>

                                <div class="col-3">
                                    <button _ngcontent-mbq-c2=""
                                        style=" border: 10px; box-sizing: border-box; display: inline-block; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none;   padding: 8px; outline: none; font-size: 0px; font-weight: inherit; position: relative; overflow: visible; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; width: 48px; height: 48px; background: none;"
                                        tabindex="0" type="button">
                                        <div _ngcontent-mbq-c2=""><img _ngcontent-mbq-c2="" alt="Login" border="0"
                                                height="24" src="https://image.ibb.co/mycg4q/Notifications.png"></div>
                                    </button>

                                </div>

                                <div class="col-3">
                                    <button _ngcontent-mbq-c2=""
                                        style=" border: 10px; box-sizing: border-box; display: inline-block; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none;   padding: 8px; outline: none; font-size: 0px; font-weight: inherit; position: relative; overflow: visible; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; width: 48px; height: 48px; background: none;"
                                        tabindex="0" type="button">
                                        <div _ngcontent-mbq-c2=""><img _ngcontent-mbq-c2="" alt="Login" border="0"
                                                height="24" class="avtar"
                                                src="assets/img/525622_414622265214641_863069405_n.jpg"></div>
                                    </button>

                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="row" style="
                    float: right;
                ">
                        <div class ="col-6 offset-6">
                            <span style="color: white;font-size: 13px;"><strong>Aug 2019 - 4:00 pm</strong> </span>
                        </div>
</div>
<div class ="row" style="float:right">
    <div class ="col-12">
            <div class="btn-group" dropdown style="float:right">
                    <button id="button-basic" style=" border-radius: 10px;     float: right;  background: #3497ac;" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                      Notification / Exception <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                  
    </div>
</div>
                </div>

            </div>
        </div>
    </div>

</div>