


<div class="account-container bacgroud">
	<div class="login-container">
		<div id="output"></div>

	<div class="content clearfix" style ="    margin-top: 11px;">
		 
 		
			<img src ="assets/img/red.png" style="    margin: auto;
			margin-left: 35px;
			padding: 2px;
			width: 222px;
			margin-bottom: 11px;">		
			
			<div class="login-fields">
				<form [formGroup]="myForm"  >
				<p>Please provide your details</p>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control"  formControlName="login_id"   aria-label="Amount (to the nearest dollar)" placeholder="User Name">
                    <div class="input-group-append">
                     </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control"  formControlName="password"   aria-label="Amount (to the nearest dollar)" placeholder="Password">
                    <div class="input-group-append">
                     </div>
                  </div>
                     <div class="row">
                        <div class="col-md-6  ">
                            <label class="checkbox" style="float: left">
                                <input type="checkbox" />
                                <span class="primary"></span>
                               
                            </label> Remember Me
                            </div>
                            </div>
                            <button type="button" class="btn btn-primary submitButton"  (click) ="dash()">Sign In</button>
                          </form>
				   <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			  <!-- .actions -->
			
			
			
 		
	</div> <!-- /content -->
	
</div> 



 
</div><!-- /account-container -->