<app-header></app-header>
<div class="container-fluid">
  <div class="row topBox">
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <div class="row activeonHver "
      *ngFor="let list of ProjectCountList" (click)="selectProject(list.id)"  [ngClass]="{'activeClass': projectId== list.id}">
        <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3" style="padding: 0;
                padding-left: 7px;
                margin-top: 31px;
                padding-top: 5px;" >
          <div [ngClass]="getClass(list.id)" style=" 
                        padding: 0;
                        margin: 0;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 0;">
            <div class="card-body" style="padding: 0px;">
              <p><strong>{{list.id}}  </strong></p>
            </div>
          </div>
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 " style="padding-left: 0px">
          <div class="card" style="background: #e8e7ef">
            <div class="card-body" style="padding: 2px 10px 5px 10px;">
              <div class="row" style="    margin-top: 0;">
                <div class="col-12" style="
                                        padding-right: 0px;">
                  <p style="    margin: 9px;"> Installed <span style="color:red">{{list.installed}}</span></p>
                  <p> <img
                      src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png"
                      alt="Bar-graph" border="0" style="    margin-left: 5px;
                                                float: left;
                                                width: 50px; ">
                    <span style="color:#779000;font-size: 27px">{{list.live}}</span></p>
                  <p style="margin-left:50px">Total Live</p>

                </div>
                <!-- <div class ="col-6" style="padding-left: 0;">
                                                 <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                                                 float: left;
                                                 width: 21px;"> 
                                                <p>Total Live</p>
                                                <p>2314</p></div> -->

              </div>

            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10" style="background: #f0eff7 ;">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 " >
          <span style="color: #616060"> <strong>DASHBOARD</strong></span>

          <div class="row"  *ngIf ="projectId != '16 NN'">
            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6 " >
              <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                  <span style="width:60% ;float: left;">
                    <p style="float: left;font-size: 15px"> AVERAGE SUPPLY & INTERRUPTION</p>
                  </span>
                  <span style="width:40%;     float: left;">
                    <div class="row" style="    margin: 0;
                            float: right;">
                      <div class="col-8" style="padding: 0;">
                        <span class=" form-group">
                          <input type="text" [maxDate]="maxDate" ngModel (bsValueChange)="onValueChange($event)"
                            placeholder="Select Date" class="form-control" [bsValue]="bsValue" bsDatepicker
                            [bsConfig]="{ isAnimated: true }">
                        </span>
                      </div>
                      <div class="col-4">
                        <div class="btn-group dropdown dropleft" dropdown placement="bottom left">

                          <button id="button-basic" dropdownToggle
                            style=" border-radius: 10px;  opacity: 0.8;   float: right;  background: #3497ac;"
                            type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic1">
                          </button>

                          <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" (click)="averageSupply(bsValue,'1')">Today
                                data</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="averageSupply(bsValue,'2')">Last 7
                                Day</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </span>
                  <hr style="margin-top: 45px;">
                  <highcharts-chart [Highcharts]="highcharts" [constructorType]="chartConstructor"
                    [options]="chartOption6" [callbackFunction]="chartCallback1" [(update)]="updateFlag1"
                    [oneToOne]="true" style="width: 100%; height: 400px; display: block;">
                  </highcharts-chart>


                </div>
              </div>

              <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                  <span style="width:75% ;float: left;">
                    <p style="float: left;font-size: 15px">Supply Graph</p>
                  </span>
                  <span style="width:25%;     float: left;">
                    <div class="form-group">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option selected>Select hr</option>
                        <option>1 hr</option>
                        <option>2 hr</option>
                        <option>4 hr</option>
                        <option>5 hr</option>
                        <option>6 hr</option>

                        <option>7 hr</option>
                        <option>8 hr</option>
                        <option>9 hr</option>
                        <option>10 hr</option>
                        <option>11 hr</option>
                        <option>12 hr</option>
                        <option>13 hr</option>
                        <option>14 hr</option>
                        <option>15 hr</option>
                        <option>16 hr</option>
                        <option>17 hr</option>
                        <option>18 hr</option>
                        <option>19 hr</option>
                        <option>20 hr</option>
                        <option>21 hr</option>
                        <option>22 hr</option>
                        <option>23 hr</option>
                        <option>24 hr</option>

                      </select>
                    </div>
                  </span>
                  <hr style="margin-top:45px">
                  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions3"
                    style="width: 100%; height: 400px; display: block;">
                  </highcharts-chart>


                </div>
              </div>

              <!-- <div class="card" style ="border-radius: 10px;">
                                        <div class="card-body">
                                            <span style="width:100%">
                                            <p style="float: left;font-size: 15px"> LAST MONTH PEAK LOAD</p>
                                            </span>
                                            <hr style="margin-top:45px">
                                                <highcharts-chart
                                                [Highcharts] = "highcharts" 
                                                [options] = "chartOptions7" 
                                                style = "width: 100%; height: 400px; display: block;">
                                             </highcharts-chart>
                                             
                    
                                        </div>
                                      </div> -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6 ">
              <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                  <span style="width:80%;float: left;">
                    <p style="float: left;font-size: 15px"> 11kv Feeder Status </p>


                  </span>
                  <span style="width:20%;float: right;">
                    <div class="row" style="    margin: 0;
           float: right;">
                      <div class="col-12">
                        <div class="btn-group dropdown dropleft" dropdown placement="bottom left">

                          <button id="button-basic" dropdownToggle
                            style=" border-radius: 10px;  opacity: 0.8;   float: right;  background: #3497ac;"
                            type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic1">
                          </button>

                          <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" (click)="getfeederStatisticdata('1')">Today
                                data</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="getfeederStatisticdata('2')">Last 7
                                Day</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </span>
                  <hr style="margin-top:45px">
                  <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                    [options]="chartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                    [oneToOne]="'true'" style="width: 100%; height: 400px; display: block;">
                  </highcharts-chart>


                </div>
              </div>
              <!-- <div class="card" style ="border-radius: 10px;">
                <div class="card-body">
                    <span style="width:100%">
                    <p style="float: left;font-size: 15px">  Energy Supplied</p>
                    </span>
                    <hr style="margin-top:45px">
                        <highcharts-chart
                        [Highcharts] = "highcharts" 
                        [options] = "chartOptions1" 
                        style = "width: 100%; height: 400px; display: block;">
                     </highcharts-chart>
                     

                </div>
              </div> -->
              <!-- <div class="card" style ="border-radius: 10px;">
                <div class="card-body">
                    <span style="width:100%">
                    <p style="float: left;font-size: 15px"> INSTANT LOAD</p>
                    </span>
                    <hr style="margin-top:45px">
                        <highcharts-chart
                        [Highcharts] = "highcharts" 
                        [options] = "chartOptions4" 
                        style = "width: 100%; height: 400px; display: block;">
                     </highcharts-chart>
                     

                </div>
                  </div> -->

              <div class="card" style="border-radius: 10px;min-height: 483px;">
                <div class="card-body">
                  <span style="width:60% ;float: left;">
                    <p style="float: left;font-size: 15px">Best & Worst Feeder ({{typeselected}})</p>
                  </span>
                  <span style="width:40%;     float: left;">
                    <div class="row" style="    margin: 0;
                              float: right;">
                      <div class="col-8" style="padding: 0;">
                        <!-- <span class=" form-group">
                          <select class="form-control" id="exampleFormControlSelect1" name="select"
                            [(ngModel)]="selectedType">
                            <option selected value="Best">Best</option>
                            <option value="Worst">Worst</option>


                          </select>
                        </span> -->
                      </div>
                      <div class="col-4">
                        <div class="btn-group dropdown dropleft" dropdown placement="bottom left">

                          <button id="button-basic" dropdownToggle
                            style=" border-radius: 10px;  opacity: 0.8;   float: right;  background: #3497ac;"
                            type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic1">
                          </button>

                          <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item"
                                (click)="getWorstBestFeeder('interruption')">Interruption</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item"
                                (click)="getWorstBestFeeder('average_duration')">Average Duration</a>
                            </li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item"
                                (click)="getWorstBestFeeder('duration')">Duration</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>


                  </span>
                  <hr style="margin-top:45px">
                  <!-- <highcharts-chart
                            [Highcharts] = "highcharts" 
                            [options] = "chartOptions8" 

                             [constructorType]="chartConstructor"
                             [callbackFunction]="chartCallback8"
                            [(update)]="updateFlag8"
                            [oneToOne]="'true'"
                            style = "width: 100%; height: 400px; display: block;">
                         </highcharts-chart> -->
                  <div class="grid">
                    <div class="a">
                      <div class="aa">Best</div>
                      <div class="ab">
                        <div *ngFor="let list of bestdata">{{list.discomName}} - {{list.substationName}} -
                          {{list.feederName}} -
                          <span style="font-weight: 800;">
                            <span *ngIf="typeselected == 'Interruption'">({{list.outageCount}})</span>
                            <span *ngIf="typeselected == 'Average Duration'">({{list.averageOutageDuration}})</span>
                            <span *ngIf="typeselected == 'Duration'">({{list.total_Outage_Duration}})</span>
                          </span>
                        </div>

                      </div>
                    </div>
                    <div class="b">
                      <div class="ba">Worst</div>
                      <div class="bb">
                        <div *ngFor="let list of worstdata">{{list.discomName}} - {{list.substationName}} -
                          {{list.feederName}} -
                          <span style="font-weight: 800;">
                            <span *ngIf="typeselected == 'Interruption'">({{list.outageCount}})</span>
                            <span *ngIf="typeselected == 'Average Duration'">({{list.averageOutageDuration}})</span>
                            <span *ngIf="typeselected == 'Duration'">({{list.total_Outage_Duration}})</span>
                          </span></div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- <div class="card" style ="border-radius: 10px;">
                        <div class="card-body">
                            <span style="width:100%">
                            <p style="float: left;font-size: 15px">   LAST DAY LOAD</p>
                            </span>
                            <hr style="margin-top:45px">
                                <highcharts-chart
                                [Highcharts] = "highcharts" 
                                [options] = "chartOptions7" 
                                style = "width: 100%; height: 400px; display: block;">
                             </highcharts-chart>  
                        </div>
                          </div> -->
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 ">
              <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                  <div class="row" style="    margin-top: 0;">
                    <div class="col-6" style="border-right: 1px solid #c0c0c0;
                            padding-right: 0px;">
                      <maphilight style="width:100%" id="statesMap" [config]="config">



                        <img id="Image-Maps-Com-image-maps-2019-09-25-120045"
                          src="https://www.image-maps.com/m/private/0/uiokscsp9g98g1spbi144ib328_up_map-2.jpg"
                          border="0" width="500" height="450" orgWidth="500" orgHeight="450"
                          usemap="#image-maps-2019-09-25-120045" alt="" />
                        <map name="image-maps-2019-09-25-120045" id="ImageMapsCom-image-maps-2019-09-25-120045">
                          <area shape="rect" coords="498,448,500,450" alt="Image Map" style="outline:none;"
                            title="Image Map"  />
                          <area id="PVNNL" alt="PVNNL" title="PVNNL"  shape="poly"
                            coords="80,2,62,20,52,31,48,53,48,68,50,83,56,98,56,114,64,116,75,119,69,134,67,144,81,151,90,145,100,149,111,151,110,134,121,127,132,136,147,135,165,120,168,106,162,96,137,86,140,79,140,61,116,40,103,53,96,56,84,49,75,38,85,25,86,16"
                            style="outline:none;" target="_self" data-maphilight='PVNNL' />
                          <area id="DVVNL" alt="DVVNL" title="DVVNL"  shape="poly"
                            coords="68,158,62,166,48,169,48,181,52,188,61,195,64,208,65,221,79,223,55,238,76,233,92,234,104,232,117,238,132,246,151,246,154,258,154,269,155,283,152,302,142,319,137,323,121,327,112,332,110,346,110,358,103,370,103,379,101,394,101,406,111,410,115,409,131,413,137,408,139,392,130,376,121,363,121,346,124,332,144,333,144,346,155,350,166,359,183,359,199,358,211,348,227,339,234,354,226,366,244,363,257,361,269,359,266,376,284,375,291,363,308,363,307,351,294,351,286,347,284,339,270,334,260,320,248,324,246,318,242,309,233,310,224,303,235,287,230,284,220,278,221,262,217,256,220,246,216,238,211,228,195,223,195,213,194,199,175,192,166,186,158,178,140,170,118,162,109,154,87,155,80,148,67,151"
                            style="outline:none;" target="_self" />
                          <area id="MVVNL" alt="MVVNL" title="MVVNL"  shape="poly"
                            coords="182,105,172,122,166,125,149,132,141,132,135,144,127,135,113,132,113,147,119,155,130,157,138,164,147,168,161,176,175,185,186,190,197,194,198,207,199,221,215,224,215,237,218,245,228,257,239,264,241,274,250,281,258,291,266,298,278,300,289,306,294,315,308,305,306,292,323,293,322,302,336,295,343,300,358,293,369,295,378,288,387,291,392,280,407,280,398,269,383,266,372,263,363,260,353,250,351,243,356,240,366,244,372,236,371,225,364,227,369,223,367,217,373,209,384,210,384,202,378,192,371,193,362,193,354,185,349,180,339,177,330,181,320,173,309,168,300,155,294,159,292,146,275,142,269,132,252,124,249,131,243,123,232,116,226,110,212,113,205,110,202,104,193,107"
                            style="outline:none;" target="_self" />
                          <area id="PUVVNL" alt="PUVVNL" title="PUVVNL"  shape="poly"
                            coords="255,295,248,291,248,286,244,286,238,291,230,297,227,303,235,308,244,311,251,322,264,322,274,326,281,335,290,343,299,350,310,360,321,366,334,372,340,384,353,389,363,397,375,397,387,398,383,411,383,421,381,439,391,442,410,443,414,437,424,420,425,413,427,403,427,394,424,386,416,374,418,361,426,356,439,347,446,344,454,337,465,334,475,322,490,327,493,319,484,309,472,304,463,295,469,283,469,274,456,272,468,264,478,262,486,260,480,249,467,250,467,242,466,234,456,226,456,215,441,215,427,206,442,207,422,207,411,210,402,205,390,205,379,209,371,212,372,224,364,224,373,233,367,242,361,240,354,241,354,253,367,258,381,262,395,268,410,274,405,288,398,281,396,279,393,290,382,292,378,295,368,296,357,292,354,299,347,302,334,297,325,298,316,298,312,295,308,300,302,307,298,311,293,315,286,310,285,304,276,296,270,297,261,305"
                            style="outline:none;" target="_self" />
                          <area id="NPCL" alt="NPCL" title="NPCL"  shape="poly"
                            coords="59,126,59,121,72,123,70,139,68,134" style="outline:none;" target="_self" />
                          <area id="KESCO" alt="KESCO" title="KESCO"  shape="poly"
                            coords="223,254,232,262,238,271,246,283,240,290,232,293,229,287,224,284,227,277,222,273,221,266,217,263,216,257"
                            style="outline:none;" target="_self" />
                        </map>

                      </maphilight>
                    </div>
                  </div>
                </div>
                </div></div></div>
                <div class="row"  *ngIf ="projectId == '16 NN'">
                 <div class ="col-12	 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                   <span style="color:red ; width: 30%;float: left;"> 16 NN STATUS- AS ON DATE (25-09-2019)    </span>
                   <span class=" form-group" style=" width: 15% ; float: left;">
                      <input type="text" [maxDate]="maxDate" ngModel   
                        placeholder="Select Date" class="form-control"  bsDatepicker
                        [bsConfig]="{ isAnimated: true }">
                    </span>
                   </div>
                   <div class ="col-12	 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                     <div class ="row">
 <div class ="col-12	 col-sm-12 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
        <div class="card-body">
    
            <div class ="row" style="    margin-top: 0;">
                <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                padding-right: 0px;" >
                   <p>DVVNL</p> 
                   <p>21342</p>
                   <p>Installed</p> 
                </div>
                 

            </div>

        </div>
      </div>
  </div>   
      <div class ="col-12	 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <div class="card">
              <div class="card-body">
          
                  <div class ="row" style="    margin-top: 0;">
                      <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                      padding-right: 0px;" >
                         <p>MVVNL</p> 
                         <p>21342</p>
                         <p>Installed</p> 
                      </div>
                     

                  </div>

              </div>
            </div>
    </div>
    <div class ="col-12	 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="card">
            <div class="card-body">
        
                <div class ="row" style="    margin-top: 0;">
                    <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                    padding-right: 0px;" >
                       <p>PuVVNL</p> 
                       <p>21342</p>
                       <p>Installed</p> 
                    </div>
                     

                </div>

            </div>
          </div>
      </div>
      <div class ="col-12	 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <div class="card">
              <div class="card-body">
          
                  <div class ="row" style="    margin-top: 0;">
                      <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                      padding-right: 0px;" >
                         <p>PVVNL</p> 
                         <p>21342</p>
                         <p>Installed</p> 
                      </div>
                      <div class ="col-6" style="padding-left: 0;">
                               <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                               float: left;
                               width: 21px;"> 
                              <p>Total Live</p>
                              <p>2314</p></div>
  
                  </div>
  
              </div>
            </div>
        </div>

                    </div>
 
</div></div>
                 
              </div>
                </div>
                <!-- <div class ="col-12	 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <div class="card">
                            <div class="card-body">
                        
                                <div class ="row" style="    margin-top: 0;">
                                    <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                                    padding-right: 0px;" >
                                       <p><strong>All</strong></p> 
                                       <p>21342</p>
                                       <p>Installed</p> 
                                    </div>
                                    <div class ="col-6" style="padding-left: 0;">
                                             <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                                             float: left;
                                             width: 21px;"> 
                                            <p>Total Live</p>
                                            <p>2314</p></div>

                                </div>

                            </div>
                          </div>
            </div>
            <div class ="col-12	 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <div class="card">
                            <div class="card-body">
                                <div class ="row" style="    margin-top: 0;">
                                    <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                                    padding-right: 0px;" >
                                       <p><strong>EODB</strong></p> 
                                       <p>21342</p>
                                       <p>Installed</p> 
                                    </div>
                                    <div class ="col-6" style="padding-left: 0;">
                                             <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                                             float: left;
                                             width: 21px;"> 
                                            <p>Total Live</p>
                                            <p>2314</p></div>

                                </div>

                            </div>
                          </div>
            </div>
            <div class ="col-12	 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <div class="card">
                            <div class="card-body">
                                <div class ="row" style="    margin-top: 0;">
                                    <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                                    padding-right: 0px;" >
                                       <p><strong>IPDS</strong></p> 
                                       <p>21342</p>
                                       <p>Installed</p> 
                                    </div>
                                    <div class ="col-6" style="padding-left: 0;">
                                             <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                                             float: left;
                                             width: 21px;"> 
                                            <p>Total Live</p>
                                            <p>2314</p></div>

                                </div>

                            </div>
                          </div>
            </div>
            <div class ="col-12	 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <div class="card">
                            <div class="card-body">
                                <div class ="row" style="    margin-top: 0;">
                                    <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                                    padding-right: 0px;" >
                                       <p><strong>NTPF</strong></p> 
                                       <p>21342</p>
                                       <p>Installed</p> 
                                    </div>
                                    <div class ="col-6" style="padding-left: 0;">
                                             <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                                             float: left;
                                             width: 21px;"> 
                                            <p>Total Live</p>
                                            <p>2314</p></div>

                                </div>

                            </div>
                          </div>
            </div>
            <div class ="col-12	 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                    <div class="card">
                            <div class="card-body">
                                <div class ="row" style="    margin-top: 0;">
                                    <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                                    padding-right: 0px;" >
                                       <p><strong>REC</strong></p> 
                                       <p>21342</p>
                                       <p>Installed</p> 
                                    </div>
                                    <div class ="col-6" style="padding-left: 0;">
                                             <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                                             float: left;
                                             width: 21px;"> 
                                            <p>Total Live</p>
                                            <p>2314</p></div>

                                </div>

                            </div>
                          </div>
            </div>
            <div class ="col-12	 col-sm-12  col-md-4 col-lg-2 col-xl-2">
                    <div class="card">
                            <div class="card-body">
                                <div class ="row" style="    margin-top: 0;">
                                    <div class ="col-6"style="border-right: 1px solid #c0c0c0;
                                    padding-right: 0px;" >
                                       <p><strong>16 NN</strong></p> 
                                       <p>21342</p>
                                       <p>Installed</p> 
                                    </div>
                                    <div class ="col-6" style="padding-left: 0;">
                                             <img src="https://www.vibestest.com/client_project/clients_website_templates/2018/Xenius_Dashboard/images/graph.png" alt="Bar-graph" border="0" style="    margin-right: 7px;
                                             float: left;
                                             width: 21px;"> 
                                            <p>Total Live</p>
                                            <p>2314</p></div>

                                </div>

                            </div>
                          </div>
            </div> -->

               <!-- 
        <div class ="row">
            <div class ="col-12	 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                
                    <div class="card " >
                            <div class="card-header">Header</div>
                            <div class="card-body"><highcharts-chart 
                                [Highcharts]="Highcharts"
                                [options]="chartOptions"
                              
                                style="width: 100%; height: 400px; display: block;"
                              ></highcharts-chart></div>
                          </div>
                         
            </div>
            <div class ="col-12	 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card " >
                            <div class="card-header">Header</div>

                            <div class="card-body"><agm-map [latitude]="lat" [longitude]="lng">
                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                  </agm-map></div>
                          </div>
                         
            </div>

            <div class ="col-12	 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="card " >
                            <div class="card-header">Header</div>

                            <div class="card-body"><highcharts-chart 
                                [Highcharts]="Highcharts"
                                [options]="chartOptions"
                              
                                style="width: 100%; height: 400px; display: block;"
                              ></highcharts-chart></div>
                          </div>
                         
            </div>
            <div class ="col-12	 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="card " >
                    <div class="card-header">Header</div>

                    <div class="card-body"><highcharts-chart 
                        [Highcharts]="Highcharts"
                        [options]="chartOptions"
                      
                        style="width: 100%; height: 400px; display: block;"
                      ></highcharts-chart></div>
                  </div>
                  </div>
                  <div class ="col-12	 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="card " >
                                <div class="card-header">Header</div>
            
                                <div class="card-body"><highcharts-chart 
                                    [Highcharts]="Highcharts"
                                    [options]="chartOptions"
                                  
                                    style="width: 100%; height: 400px; display: block;"
                                  ></highcharts-chart></div>
                              </div>
</div>

        </div>
 </div> -->